# Sets
A set is an unordered collection data type that is iterable, muteable and has no duplicate elemnents. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table.

In [20]:
# Definning an empty set
var_set=set()
print(var_set)
print(type(var_set))

set()
<class 'set'>

In [21]:
set_var={1,2,3,4,3,4}

In [22]:
set_var

{1, 2, 3, 4}

In [23]:
set_var={"Avangers", "Ironman", "Badman", "superman"}

In [24]:
print(set_var)
print(type(set_var))

{'Avangers', 'Badman', 'superman', 'Ironman'}
<class 'set'>

In [25]:
# indexing.......There is no indexing in the sets
set_var=["Avangers"]

In [29]:
# in-built functions to the sets
set_var.add("Hulk")

AttributeError: 'list' object has no attribute 'add'

In [34]:
set1={"Batman","Spiderman", "Hulk", "Ironman", "Avanger"}
set2={"Batman", "Spiderman", "Hulk", "Ironman", "Avengar", "Hulk2", "Batman2"}

In [36]:
set2.intersection(set1)

{'Batman', 'Hulk', 'Ironman', 'Spiderman'}

In [37]:
set2.intersection_update(set1)

In [38]:
set2

{'Batman', 'Hulk', 'Ironman', 'Spiderman'}

In [42]:
## Difference
set1.difference(set2)

{'Avanger'}

In [43]:
set2

{'Batman', 'Hulk', 'Ironman', 'Spiderman'}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curely brackets, and they have keys and values.

In [44]:
dic={}

In [45]:
type(dic)

dict

In [46]:
dic={1,2,3,4,5,6,7}

In [47]:
type(dic)

set

In [2]:
## Let create a dictionary 
my_dict={"car1": "Audi", "car2": "BMW", "car3": "Mercedes Benz"}

In [3]:
print(my_dict)

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedes Benz'}

In [4]:
type(my_dict)

dict

In [5]:
## Access the item values based on keys
my_dict['car3']

'Mercedes Benz'

In [7]:
type(my_dict)

dict

In [8]:
my_dict['car2']

'BMW'

In [9]:
## we can even loop throughout the keys and values 
for x in my_dict:
    print(x)

car1
car2
car3

In [11]:
# we can even loop throughout the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [13]:
# we can also check both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedes Benz')

In [22]:
# Adding new items in dictionaries
my_dict['Car4']="Audi 2.4"

In [23]:
print(my_dict)

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedes Benz', 'Car4': 'Audi 2.4', 'Car1': 'Honda city202'}

In [24]:
my_dict['car1']="Honda city202"

In [25]:
my_dict

{'car1': 'Honda city202',
 'car2': 'BMW',
 'car3': 'Mercedes Benz',
 'Car4': 'Audi 2.4',
 'Car1': 'Honda city202'}

## Nested Dictionary

In [27]:
car1_model={'Mercedez-Benz': 1980}
car2_model={"Audi": 1990}
car3_model={"BMW": 2000}
car4_model={"Jaguar": 2010}

In [28]:
Car_type={'car1': car1_model, 'car2': car2_model, 'car3': car3_model, 'car4': car4_model}

In [29]:
print(Car_type)

{'car1': {'Mercedez-Benz': '1980'}, 'car2': {'Audi': '1990'}, 'car3': {'BMW': '2000'}, 'car4': {'Jaguar': '2010'}}

In [30]:
(Car_type)

{'car1': {'Mercedez-Benz': '1980'},
 'car2': {'Audi': '1990'},
 'car3': {'BMW': '2000'},
 'car4': {'Jaguar': '2010'}}

In [31]:
print(Car_type['car4'])

{'Jaguar': '2010'}

In [33]:
print(Car_type['car4']['Jaguar'])

2010

## Tuples
- Tuples cannot be changeable once you declared you cant mute it or change it.

In [34]:
my_tuple=tuple()

In [35]:
type(my_tuple)

tuple

In [36]:
my_tuple=()

In [37]:
type(my_tuple)

tuple

In [55]:
my_tuple=("Faryal", "Murtaza", "Jerry")

In [45]:
my_tuple[1]

'Murtaza'

In [46]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Faryal', 'Murtaza', 'Jerry')

In [47]:
my_tuple[1]="Jasim"

TypeError: 'tuple' object does not support item assignment

In [48]:
my_tuple=('Hello','World')

In [49]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [56]:
# inbuilt Function
my_tuple.count('Faryal')

1

In [57]:
my_tuple.count('Murtaza')

1